.primeSwiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-control {
  position: absolute;
  bottom: 125px;
  gap: 90px;
  right: 55px;
  display: flex;
}
.swiper-button-next,
.swiper-button-prev {
  position: relative;
  z-index: 100;
  right: 0;
  @include wh(60px);
  border: 1px solid var(--text-second-color);
  border-radius: 50%;
  &:hover {
    border-color: var(--main-color);
    &::after {
      @include background(url("@img/icons/arrow-swiper-active.svg"));
    }
  }
  &::after {
    @include pseudo;

    @include wh(11px, 8px);
    @include background(url("@img/icons/arrow-swiper.svg"));
    @include pos(absolute, $top: 50%, $left: 56%);
    transform: translate(-50%, -50%);
  }
}

.swiper-button-next {
  &::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  &:hover {
    &::after {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.swiper-button-prev {
  &:hover {
    &::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
}

.swiper-button-disabled {
  &::after {
  }
}

.swiper-button-prev.swiper-button-disabled {
  &::after {
  }
}

.swiper-button-next.swiper-button-disabled {
  &::after {
  }
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  position: absolute;
  left: 0;
  right: 0;
}
.slash {
  background: url(@img/icons/slash.svg) no-repeat center center/ 37px 37px;
  position: absolute;
  display: block;
  width: 37px;
  height: 37px;
  left: -14px;
  top: -29px;
}
.swiper-pagination {
}
.prev-slide {
  position: absolute;
  
  top: -33px;
  left: -19px;

}
.next-slide {
  position: absolute;
  top: -10px;
  left: 16px;
  color: var(--text-second-color);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet {
  opacity: 0;
  &-active {
    opacity: 1;
    width: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: var(--main-color);
  }
}
