.advantages {
  // .advantages__box-img
  &__box-img {}
  // .advantages__img
  &__img {}
  &__box-svg{
    @include wh(60px);
  }
  &__svg{
   
   
  }
  .nav-tabs {
  }
  .nav-item {
    max-width: 210px;
    @include media (max, lg) {
      max-width: 100%;
    }
  }
  .nav-link {
  }
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #D9D9D9;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
 
  border-color: #DE0814;
}
form{
  position: relative;
  @include media (max, md) {
    position: relative !important;
    top: 0 !important;
    width: 100% !important;
  }
}
}
.py-5 {
}
.container {
}
.fs-36 {
}
.fw-800 {
}
.text-center {
}
.mb-5 {
}
.nav {
}
.nav-tabs {
}
.justify-content-between {
}
.position-relative {
}
.nav-item {
}
.nav-link {
}
.active {
}
.p-4 {
}
.fs-20 {
}
.fw-600 {
}
.rounded-3 {
}
.row {
}
.col-8 {
}
.tab-content {
}
.tab-pane {
}
.fade {
}
.show {
}
.fs-30 {
}
.mb-4 {
}
.fs-16 {
}
.fw-500 {
}
.w-100 {
}
.col-4 {
}
.border {
}
.px-5 {
}
.py-4 {
}
.bg-secondary {
}
.position-sticky {
}
.end-0 {
}
.top-0 {
}
.fs-24 {
}
.form-control {
}
.d-block {
}
.mb-3 {
}
.fs-14 {
}
.text-info {
}
.text-nowrap {
}
.btn {
}
.btn-danger {
}
.mt-4 {
}
.text-danger {
}
