.contacts {
  padding: 70px 0 0;
  // background-color: $mainColor;
  @include media (max, lg) {

    padding-bottom: 50px;
  }
  &__content{
    z-index: 2;
    position: relative;
  }
  // .contacts__title
  &__title {
    line-height: 110%;
    margin-bottom: 30px;
    &::before {
      background-color: $secondColor;
    }
  }
  // .contacts__subtitle
  &__subtitle {
  }
  // .contacts__text
  &__text {
  }
  // .contacts__box
  &__box {
    position: relative;
    &::before {
      @include pseudo;
      @include wh(15px);
      position: absolute;
      left: -30px;
      top: 0;
    }
    &--map {
      &::before {
        @include background(url("@img/icons/map-white.svg"));
      }
    }
    &--metro {
      &::before {
        @include background(url("@img/icons/metro-white.svg"));
        @include wh(16px, 12px);
        top: 22px;
      }
    }
    &--time {
      &::before {
        @include background(url("@img/icons/time-white.svg"));
      }
    }
  }

  // .contacts__span
  &__span {
  }
  a{
    &:hover{
      color: $thirdColor;
    }
  }
  // .contacts__btn
  &__btn {
   
    a {
      position: relative;
      &:hover{
        color: $thirdColor;
        &::before{
          background-color: $thirdColor;
          width: 100%;
        }
      }
      &::before {
        @include pseudo;
        height: 1px;
        width: 0;
        background-color: $secondColor;
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s ease-in-out;
      }
    }
  }

  // .contacts__box-border
  &__box-border {
  }
  // .contacts__box-circle
  &__box-circle {
  }

  // .contacts__link
  &__link {
  }
  // .contacts__box-img
  &__box-img {
    z-index: 1;

    &--left {
      left: 1%;
      bottom: 12%;
    }
    &--right {
      right: 10%;
    bottom: 29%;
    @include media (max, lg) {
      bottom: 8%;
    }
    }
  }

  // .contacts__img
  &__img {
  }

  .box-border {
    &--big {
      @include wh(486px);
      position: absolute;
      top: 32%;
    left: 28%;
      transform: translate(-50%, -50%);
      @include media (max, lg) {
        top: 40%;
        left: 40%;
      }
     
    }
    &--center {
      @include wh(338px);
      position: absolute;
      top: 32%;
    left: 28%;
      transform: translate(-50%, -50%);
      @include media (max, lg) {
        top: 40%;
        left: 40%;
      }
     
    }
  }

  .box-circle {
    &--big {
      @include wh(484px);
    }
    &--center {
      @include wh(336px);
    }
  }
&__bottom{
  top: -110px;
  z-index: 3;
  @include media (max, xl) {
    top: -50px;
  }
  @include media (max,lg) {
    top: 0;
  }
}
}
