.halls {
  // background-color: $secondColor;
  background-image: url("@img/icons/2255.svg");
  background-repeat: repeat-y;
  background-position: 86% center;
  padding: 84px 0 100px;
 
  // .halls__subtitle
  &__subtitle {
    margin-bottom: 40px;
    max-width: 450px;
  }
  .carousel {
    // .carousel__subtitle
    &__subtitle {
      font-size: 32px;
      line-height: 110%;
      margin: 30px 0 20px;
    }
   

    // .carousel__box-top
    &__box-top {
      border-bottom: 1px solid $successColor;
      
    }
    // .carousel__description
    &__description {
      --carousel-description-font-size: clamp(26px, 1.47vw + 20.69px, 32px);
      font-size: var(--carousel-description-font-size);
      // font-size: 32px;
      line-height: 130%;
    }

   
  }
  .carousel__box-text{
    p{
      margin-bottom: 0;
    }
  }

  .carousel-control-prev {
    left: -17%;
  }
  .carousel-control-prev-icon {
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    @include background(url("@img/icons/arrow.svg"));
    width: 11px;
    height: 8px;
  }

  .carousel-control-next {
    right: -17%;
  }
  .carousel-control-next-icon {
    transform: rotate(180deg);
  }
  .box-border {
    @include wh(40px);
  
      background: linear-gradient(47.45deg, #05C3DE 13.8%, rgba(5, 195, 222, 0) 87.06%);
      cursor: pointer;
      &:hover{
        transition: all .3s ease-in-out;
        
        .box-circle{
          background: $successColor;
        }
      }

  }
  .box-circle {
    @include wh(36px);
    background: $secondColor;
  }
}
