.promo-cards {
	padding-bottom: 65px;
	// .promo-cards__content
	&__content {}
	// .promo-cards__bg
	&__bg {}
	// .promo-cards__title
	&__title {
		max-width: 400px;
	}
	// .promo-cards__subtitle
	&__subtitle {
		max-width: 500px;
	}
	// .promo-cards__btn
	&__btn {}
	// .promo-cards__box-img
	&__box-img {}
	// .promo-cards__img
	&__img {}
	// .promo-cards__ellipse1
	&__ellipse1 {}
	// .promo-cards__ellipse2
	&__ellipse2 {}
	// .promo-cards__box
	&__box {}
}


