.social-project {
  padding: 45px 0 105px;

  // .social-project__border
  &__border {
    position: relative;
    padding: 50px 35px;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid $mainColor;

    border-radius: 10px;

    &::before {
      @include pseudo;
      @include wh(100%);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      backdrop-filter: blur(12.5px);
      z-index: -1;
    }
    &::after {
      @include pseudo;
      @include wh(160px, 87px);
      @include background(url("@img/icons/55.svg"));
      position: absolute;
      bottom: -55px;
      right: 0%;
      z-index: -2;
    }
  }
}
