.vacansies {
  padding: 125px 0 110px;
  background: url("@img/vacancies.png") center top / 100% auto no-repeat;
  &::before {
    @include pseudo;
    @include background(url("@img/icons/2255-pages.svg"));
    @include wh(350px, 390px);
    position: absolute;
    top: 0;
    left: 64%;
    @include media(max, lg) {
      display: none;
    }
  }

  // .vacansies__subtitle
  &__subtitle {
    max-width: 400px;
  }
  // .vacansies__box-border
  &__box-border {
    padding: 1px;
    border-radius: 10px;
    background: linear-gradient(0deg, #05c3de, #05c3de),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      );
  }

  // .vacansies__box
  &__box {
    position: relative;
    background: $accentColor;
    padding: 45px 20px 10px;
    min-height: 120px;
    border-radius: 10px;
    &--form {
      background: #0d0d0d;
      padding: 50px 58px;

      border-radius: 10px;
    }
    &--pseudo {
      &::before {
        @include pseudo;
        backdrop-filter: blur(12.5px);
        @include wh(100%);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
      }
    }
  }
  .box-border {
    background: linear-gradient(
      47.45deg,
      #05c3de 13.8%,
      rgba(5, 195, 222, 0) 87.06%
    );
  }

  // .vacansies__form
  &__form {
    gap: 0;
    justify-content: flex-start;
    z-index: 1;
  }
  .form {
    // .form__label
    &__label {
      &--bg {
        background: url("@img/icons/file-paper.svg") left center / 17px 17px
          no-repeat;
        @include media(max, sm) {
          background-image: none;
        }
      }
    }
    // .form__textarea
    &__textarea {
      background-color: $secondColor;
      border-radius: 5px;
      color: #878787;
    }
  }

  &__content {
    .box-border {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      border-radius: 50%;

      background: linear-gradient(
          61.29deg,
          #05c3de 11.43%,
          rgba(5, 195, 222, 0) 91.01%
        ),
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.05),
          rgba(255, 255, 255, 0.05)
        );
    }
  }

  .box-circle {
    background: $thirdColor;
  }

  // .vacansies__span
  &__span {
    --services-span-margin-right: clamp(10px, 9.67vw + -64.29px, 75px);
    margin-right: var(--services-span-margin-right);
  }
  // .vacansies__arrow
  &__arrow {
    @include background(url("@img/icons/arrow.svg"));
    width: 11px;
    height: 8px;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  button.card__btn[aria-expanded="true"] {
    .vacansies__arrow {
      transform: rotate(270deg);
    }
  }

  .accordion {
    margin-top: 85px;
  }
  .card {
    background-color: transparent;
    border-bottom: 1px solid $thirdColor;

    // .card__btn
    &__btn {
      --card-btn-font-size: clamp(14px, 2.35vw + 6.47px, 20px);
      font-size: var(--card-btn-font-size);
      // font-size: 20px;
      @include media(max, 360px) {
        text-align: left !important;
      }
      .box-border {
        position: absolute;
        right: 0;
        top: 20px;
        @include wh(40px);
        border-radius: 50%;
        background: linear-gradient(
            61.29deg,
            #05c3de 11.43%,
            rgba(5, 195, 222, 0) 91.01%
          ),
          linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05)
          );
        cursor: pointer;
        &:hover {
          transition: all 0.3s ease-in-out;

          .box-circle {
            background: $successColor;
          }
        }
      }
      .box-circle {
        background: $accentColor;
        @include wh(38px);
      }
    }
  }
  .card-body {
    ul {
      @include media(max, lg) {
        padding-left: 0;
      }
      li {
        position: relative;
        line-height: 130%;
        &::before {
          @include pseudo;
          @include wh(5px);
          border-radius: 50%;
          position: absolute;
          left: -15px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $secondColor;
        }
      }
    }
  }
}
