.valuation {
  
 
  .nav {
    &::before {
      @include pseudo;
      width: 100%;
      left: 0;
      position: absolute;
      background-color: var(--text-second-color);
      height: 1px;
      top: 50%;
    }
  }
}