.menu {
  @include media(max, lg) {
    left: -100%;
    transition: all .5s ease-in-out;
  }

  
  &__item + &__item {
    position: relative;
    &::after {
      @include pseudo;
      background-color: var(--text-second-color);
      width: 1px;
      height: 25px;
      position: absolute;
      left: -45px;
      top: -5px;
      @include media(max, lg) {
        display: none;
      }
    }
  }
  
}
