.menu {
  // .menu__list
  &__list {
  }
  // .menu__item
  &__item {
  }
  &__item + &__item {
    position: relative;
    &::after {
      @include pseudo;
      background-color: var(--text-second-color);
      width: 1px;
      height: 25px;
      position: absolute;
      left: -45px;
      top: -5px;
    }
  }
  // .menu__link
  &__link {
  }
}
