// Заголовки, общие БЄМ блоки и проче...

.title {
  position: relative;
  padding-left: 35px;
  &::before {
    @include pseudo;
    @include wh(10px);
    border-radius: 50%;

    background-color: $mainColor;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.subtitle {
  font-size: 40px;
  line-height: 110%;

  color: $textMainColor;
}

.text {
}
.btn {
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
  
}

.fs-14 {
  font-size: 0.875rem;
  line-height: 130%;
}

.fs-16 {
  font-size: 1rem;
  line-height: 130%;
}

.fs-20 {
  font-size: 1.25rem;
  line-height: 130%;
}

.fs-24 {
  font-size: 1.5rem;
  line-height: 130%;
}
.fs-32 {
  font-size: 2rem;
  line-height: 130%;
}
.fs-30 {
  font-size: 1.875rem;
  line-height: 130%;
}

